@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-800;
  }
}

.btn {
  @apply font-bold py-1 px-2 rounded;
}
.btn-blue {
  @apply bg-blue-800 text-white;
}
.btn-blue:hover {
  @apply bg-blue-950;
}
.btn-red {
  @apply bg-red-800 text-white;
}
.btn-red:hover {
  @apply bg-red-950;
}

.container {
  max-width: 1200px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td.cell {
  border: 1px solid rgb(209, 213, 219);
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  text-align: center;
}

td.cell:hover {
  cursor: pointer;
}

.thick-border-left {
  border-left: 2px solid rgb(209, 213, 219) !important;
}

.thick-border-right {
  border-right: 2px solid rgb(209, 213, 219) !important;
}

.thick-border-top {
  border-top: 2px solid rgb(209, 213, 219) !important;
}

.thick-border-bottom {
  border-bottom: 2px solid rgb(209, 213, 219) !important;
}

.text-center {
  text-align: center;
}

.guide-number {
  margin-right: 5px;
  color: rgb(209, 213, 219);
}

.guide-number:hover {
  cursor: pointer;
}

.horizontal-guide-numbers {
  text-align: right;
  vertical-align: center;
  padding-right: 5px;
}

.vertical-guide-numbers {
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 5px;
}

.strikethrough {
  position: relative;
  color: rgb(209, 213, 219, 0.5);
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: white;

  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.puzzle-card {
  border: 1px solid #757575;
  padding: 10px;
  margin-right: 15px;
}

.puzzle-card:hover {
  cursor: pointer;
}

.hover-guide-lines {
  @apply bg-gray-500;
}

.hover-cursor {
  @apply bg-gray-600;
}

.right-click-cursor {
  @apply border-gray-800;
}

.left-click-cursor {
  @apply border-gray-800;
}

.right-click-preview-line {
  @apply bg-gray-500;
}

.left-click-preview-line {
  @apply bg-gray-500;
}

.filled {
  background-image: url("../../public/fill.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flagged {
  background-image: url("../../public/flag.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.filled-finished {
  background-color: white;
}

.timer-wrapper {
  border: 1px solid rgb(209, 213, 219);
  text-align: center;
  padding: 5px 0px;
}

.timer {
  width: 200px;
}

.timer-button {
  margin-right: 5px;
}

.hint-modal {
  min-width: 250px;
}

.table-container {
  padding-bottom: 50px;
}
